mixin button(text, link, btnclass, icon)
    if icon
        a(href=link class="button " + btnclass)
            | #{text}
            span
                i(class="fas " + icon)
            
    else
        a(href=link class="button " + btnclass)
            | #{text}