extends layouts/main.pug

block variables
	- var title = 'О сайте'
	- var pageClass = 'about-page'

block content
	h1 Hello from Pug!
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a ipsa fugit. Iusto a aspernatur ratione eos officia perspiciatis est porro. Earum pariatur hic eaque, est architecto odit quae cupiditate?
	button CLick Me
	+icon('rain', 'rain-mod')