extends layouts/ui-layout.pug

block variables
    - var title = 'Типографика'

block content
    section.section__ui
        h1.heading__ui
            | Типографика
        div.container
            div.row
                div(class="col-sm-3")
                    h3 Заголовки

                    //- блок с заголовками
                    h1.heading__1
                        | Заголовок 1
                    h2.heading__2
                        | Заголовок 2
                    h3.heading__3
                        | Заголовок 3
                    h4.heading__4
                        | Заголовок 4
                    h5.heading__5
                        | Заголовок 5
                    h6.heading__6
                        | Заголовок 6
                div(class="col-sm-9")
                    h3 Текст - абзацы, ссылки в тексте

                     //- блок с текстом
                    p.content__text
                        |Парк находится в горах 

                        //- ссылка в тексте
                        a(class="content__link" href="#")
                            |Сьерра-Невада 
                        |на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км.

                    //- блок с текстом
                    p.content__text
                        |Центром парка является долина 

                        //- ссылка в тексте
                        a(class="content__link" href="#")
                            |Йосемити
                        |, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы.

                    //- блок со списком
                    h3 Список
                    ul.content__list
                        li
                            span
                                |первый пункт
                        li
                            span
                                |Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней.
                        li
                            span
                                |третий пункт





